logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings

*~

##PLAY
activator*
conf/app*
default-create.sql
default-drop.sql
Vagrantfile
