/* Project Arignee ** autor: David Rieger ** 2014 */

.nobackground, .jumbotron /*Bootstrap Override*/ {
    background-color: #000;
    background: none;
}

body > .container > .jumbotron /*Main jumbotron*//*Bootstrap Override*/ {
    border: solid 1px #DDD;
    border-top: none;
    box-shadow: 0px 5px 10px -3px #DDF;
    padding-top:10px;
    padding-bottom:20px;
}

#eval_url_title {
    font-size: 20px;
    margin-bottom: 10px;
}

.eval_infotext, #progress_bar_label {
    font-size: 11px;
}

#eval_res_wrapper, .progress, #progress_bar_label, #error_container {
    display: none;
}


/* Result Rendering */
div.panel-body > span.sub-title {
    font-weight: bold;
}

div.well.additional {
    font-size: 9px;
    color: #555;
}
