/* Project Arignee ** autor: David Rieger ** 2014 */

.nobackground, .jumbotron /*Bootstrap Override*/ {
    background-color: #000;
    background: none;
}

body > .container > .jumbotron /*Main jumbotron*//*Bootstrap Override*/ {
    border: solid 1px #DDD;
    border-top: none;
    box-shadow: 0px 5px 10px -3px #DDF;
    padding-top:10px;
    padding-bottom:20px;
}

#eval_url_title {
    font-size: 20px;
    margin-bottom: 10px;
}

.eval_infotext, #progress_bar_label {
    font-size: 11px;
}

#eval_res_wrapper, .progress, #progress_bar_label, #error_container {
    display: none;
}


/* Result Rendering */

div.eval-category-container {
    width: 30%;
    min-width: 200px;
    float: left;
    margin: 5px;
    border: solid 1px #DDD;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px #DDF;
}

div.eval-category-header {
    height: 200px;
    text-align: center;
    font-size: 50px;
}

.category-rating {
    background-color: #EEE;
    color: #555;
    font-size: 15px;
    border-radius: 3px;
    padding: 2px;
    border: 1px solid #555;
}

div.panel-body > span.sub-title {
    font-weight: bold;
}

div.well.additional {
    font-size: 9px;
    color: #555;
}

div.panel-body > div.chartContainer {

    width: 40%;
    height: 40%;
    border: 1px solid #000;
    margin: 2%;

}

div.chartContainer > canvas.historyGraph {
    float: left;
    margin:10px;
    max-width: 100%;
    min-width: 300px;
}

div.graphLegendElement {
    font-family: Arial;
    font-weight: bold;
    margin: 5px;
    margin-left: 10px;
    width: 400px;
    border-left: solid 10px;
    padding-left: 10px;
    float: left;
}
