
@(htmlresults: Map[String, List[String]])
<!-- FUN FACT :: The parameter list (as above)
     always has to be the first thing in the template
     even before a comments -->
<!-- Project Arignee ** autor: David Rieger ** 2014 -->

@tmpl("Home"){

    <div id="eval_url_title"> <!-- FILLED BY http_req.js --> </div>

    <div class="progress" id="progress_bar_container">
        <div    class="progress-bar progress-bar-striped active"
                id="progress_bar"
                role="progressbar" aria-valuenow="0" aria-valuemin="0"
                aria-valuemax="100">
        </div>
    </div>

    <span id="progress_bar_label"> <!-- FILLED BY progressbar_handler.js --> </span>

    <div id="error_container" class="alert alert-danger">
        <!-- FILLED BY errordisplay_handler.js -->
        <span id="error_message"></span>
    </div>

    <div id="eval_res_wrapper"> <!-- FILLED BY html_eval_render.js --> </div>

}{
    <!-- Venors -->
    <script src="@routes.Assets.at("javascripts/vendors/chart.min.js")" type="text/javascript"></script>

    <!-- Arignee -->
    <script src="@routes.Assets.at("javascripts/gui_helper.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/progressbar_handler.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/errordisplay_handler.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/html_eval_render.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/history_render.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/http_req.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/http_eh.js")" type="text/javascript"></script>
}
