
@(htmlresults: Map[String, List[String]])
<!-- FUN FACT :: The parameter list (as above) 
     always has to be the first thing in the template
     even before a comments -->
<!-- Project Arignee ** autor: David Rieger ** 2014 -->

@main("Home"){

    <div class="row">
        <div class="col-lg-6">
            <div class="input-group">
                <span class="input-group-btn">
                    <button id="trends_kw_send_btn" class="btn btn-success" type="button" /> GO </button>
                </span>
                <input class="form-control" type="text" id="keyphrase" name="keyphrase" placeholder="Keyword(s)" />
            </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
        <div class="col-lg-6">
            <div class="input-group">
                <span class="input-group-btn">
                    <button id="url_send_btn" class="btn btn-success" type="button" /> GO </button>
                </span>
                <input class="form-control" type="text" id="url" name="url" placeholder="URL" />
            </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
    </div>
    
    <hr />
        
    <div id="html_eval_res">
    
        <!-- colour of panels added by JS depd. on eval. result -->
        <div id="pan_title" class="panel">
            <div class="panel-heading">Page Title</div>
            <div class="panel-body">
                <!-- colour of labels added by JS depd. on eval. result -->
                <span id="lab_title_text" class="label"> TEXT </span> 
                <span id="her_title_text"></span><br />
                
                <span class="eval_infotext" id="her_title_info"> 
                    Your title is cool but it could be better...
                </span>
            </div>
        </div>
        
        <div id="pan_links" class="panel">
            <div class="panel-heading">Page Title</div>
            <div class="panel-body">
                <!-- colour of labels added by JS depd. on eval. result -->
                <span><b>Amount of Links</b></span>
                <span id="lab_links_amount" class="label"> PENDING </span> 
                <br />
                
                <span class="eval_infotext" id="her_title_info"> 
                    You have <span id="res_links_amount"></span> links. 
                </span>
            </div>
        </div>
    
        <span class="label label-default"> LINKS </span> <span id="her_links"></span>
    
    </div>
                
}{
    <script src="@routes.Assets.at("javascripts/html_eval_render.js")" type="text/javascript"></script> 
    <script src="@routes.Assets.at("javascripts/http_req.js")" type="text/javascript"></script>    
    <script src="@routes.Assets.at("javascripts/http_eh.js")" type="text/javascript"></script>
}
