
@(title: String)(content: Html)(additional: Html)

<!-- Project Arignee ** autor: David Rieger ** 2014 -->

<!DOCTYPE html>

<html>
    <head>
        <title> Project Arignée v0.1-DEV | @title</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        
        <!-- CSS -->
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        
        <!-- JavaScript -->
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js" type="text/javascript"></script>        
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js" type="text/javascript"></script>
                
    </head>
    <body>
        <div class="container">        
            <div class="jumbotron">
                <div class="page-header">
                    <h1>Arignée <small> v0.1-DEV </small> </h1>
                </div>            
                @content
            </div>        
        </div>
    </body>    
        <!-- Additional Scripts and StyleSheets -->
        @additional
</html>
