
@(title: String)(content: Html)(additional: Html)

<!-- Project Arignee ** autor: David Rieger ** 2014 -->

<!DOCTYPE html>

<html>
    <head>
        <title> Project Arignée v0.1-DEV | @title</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

        <!-- CSS -->
        <link   rel="stylesheet" media="screen"
                href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">

        <!-- JavaScript -->
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js" type="text/javascript"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js" type="text/javascript"></script>

    </head>
    <body>
        <div class="container">
            <div class="jumbotron">
                <div class="page-header">
                    <h3>Arignée <small> v0.1-DEV </small> </h3>
                </div>
                <div class="row">
                    <div class="col-lg-8">
                        <div class="input-group">
                            <span class="input-group-btn">
                                <!-- Button with drop-down on the side -->
                                <button     id="url_send_btn"
                                            class="btn btn-success"
                                            type="button"
                                            title="Evaluate Website" />
                                            <i class="fa fa-graduation-cap"></i>
                                            Evaluate
                                </button>
                                <button
                                    class="btn btn-primary"
                                    type="button" id="url_history_send_btn"
                                    alt="Show Evaluation History" >
                                    <i class="fa fa-line-chart"></i>
                                </button>
                            </span>
                            <input  class="form-control" type="text"
                                    id="url" name="url" placeholder="URL" />
                        </div><!-- /input-group -->
                    </div><!-- /.col-lg-8 -->
                    <div class="col-lg-4">
                        <div class="input-group">
                            <span class="input-group-btn">
                                <button id="trends_kw_send_btn"
                                        class="btn btn-success"
                                        alt="Analyse Keyword"
                                        type="button" disabled/> GO
                            </button>
                        </span>
                        <input  class="form-control" type="text"
                        id="keyphrase" name="keyphrase"
                        placeholder="Keyword(s)" disabled/>
                    </div><!-- /input-group -->
                </div><!-- /.col-lg-4 -->
                </div>
            </div> <!-- /Jumbotron -->
            @content
        </div> <!-- /Container -->
    </body>
    <!-- JS Messages - i18n for JS -->
    <script type="text/javascript" src="@routes.JsMessageGetter.jsMessages()"></script>
    <!-- Additional Scripts and StyleSheets -->
    @additional
</html>
